<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title></title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./css/index.css">
    <script type="text/javascript" src="./lib/vue.js"></script>

</head>

<body>
    <section class="todoapp">
        <header class="header">
            <h1>任务清单</h1>
            <input v-autofocus autocomplete="off" v-model.trim="inputValue" @keyup.enter="addTodo" placeholder="想干啥?"
                class="new-todo">

        </header>
        <section class="main">
            <!-- 全选 -->
            <input type="checkbox" class="toggle-all" @change="checkAll" v-model="isCheckAll">
            <ul class="todo-list">
                <li class="todo" :class="{ completed:item.isCompleted, editing:item.isEditing}" v-for="(item, index) in filterArr">
                    <div class="view">
                        <input type="checkbox" @change="checkIsAll" class="toggle" v-model="item.isCompleted">
                        <label @dblclick="editing(index)">{{item.content}}</label>
                        <button class="destroy" @click="delate(index)"></button>
                    </div>
                    <input type="text" v-focus class="edit" @keyup.enter="saveEdit(index)" @blur="saveEdit(index)"
                        v-model="item.content">
                </li>
                
            </ul>
        </section>
        <footer class="footer">
            <span class="todo-count">
                <strong>{{unfinishedNum}}</strong> 项 剩余
            </span>
            <ul class="filters">
                <li>
                    <a href="#/all" @click="changeFilter('all')" :class="{selected:filter=='all'}">全部</a>
                </li>
                <li>
                    <a href="#/active" @click="changeFilter('active')" :class="{selected:filter=='active'}">未完成</a>
                </li>
                <li>
                    <a href="#/completed" @click="changeFilter('completed')" :class="{selected:filter=='completed'}">完成</a>
                </li>
            </ul>
            <button class="clear-completed" @click="clear">
                清空列表
            </button>
        </footer>
    </section>
    <footer class="info">
        <p>双击进入编辑状态</p>
        <p>鸣谢:
            <a href="http://evanyou.me">Evan You</a>
        </p>
        <p>参考于
            <a href="http://todomvc.com">TodoMVC</a>
        </p>
    </footer>

    <script>
        // 注册一个全局自定义指令 `v-focus`
        Vue.directive('focus', {
            // 当被绑定的元素插入到 DOM 中时……
            // inserted: function (el) {
            //     // 聚焦元素
            //     el.focus()
            // },
            update: function (el) {

                el.focus()
            }
        });
        // 注册一个全局自定义指令 `v-focus`
        Vue.directive('autofocus', {
            // 当被绑定的元素插入到 DOM 中时……
            inserted: function (el) {
                // 聚焦元素
                el.focus()
            }
        })
        // 输入内容，按下回车，内容追加到数组中并清空输入的内容

        let todoList = JSON.parse(window.localStorage.getItem('todo22')) || [];

        window.onunload = function() {

            window.localStorage.setItem('todo22',JSON.stringify(todoList));
         }


        //   实例化Vue对象
        var app = new Vue({
            el: ".todoapp",
            data: {
                todoList,
                inputValue: '',
                filter: 'all',
                isCheckAll:false

            },
            // 事件
            methods: {
                addTodo() {
                    if (this.inputValue == '') {
                        alert('写点东西');
                        return false;
                    }
                    this.todoList.push({
                        content: this.inputValue,
                        isCompleted: false,
                        isEditing: false
                        


                    })
                    this.inputValue = '';
                },
                // 给小X添加点击事件，点击删除当前行
                delate(index) {
                    if (confirm('你确定要删除吗?')) {
                        this.todoList.splice(index, 1)
                    }
                },
                // 清楚所有内容
                clear() {
                    if (confirm('你确定清空吗？？')) {
                        if(this.filter == 'all'){
                            this.todoList = [];
                        }else if(this.filter == 'active'){
                            for(let i=this.todoList.length-1;i>=0;i--){
                                if(this.todoList[i].isCompleted==false){
                                    this.todoList.splice(i,1)
                                }
                            }
                        }else{
                            for(let i=this.todoList.length-1;i>=0;i--){
                                if(this.todoList[i].isCompleted==true){
                                    this.todoList.splice(i,1)
                                }
                            }
                        }
                        
                    }
                },
                // 双击内容显示输入框，编辑内容
                editing(index) {
                    this.todoList.forEach(v => {
                        v.isEditing = false;
                    })
                    this.todoList[index].isEditing = true;
                },
                // 保存数据
                saveEdit(index) {
                    this.todoList[index].isEditing = false;
                    document.querySelector('.new-todo').focus();

                },
                // 切换类别
                changeFilter(value){
                    // console.log(value);
                    this.filter = value;                   
                },
                // 全选全不选
                checkAll(){
                    this.todoList.forEach(v=>{
                        v.isCompleted = this.isCheckAll;
                    })
                },
                // 单选
                checkIsAll(){
                    // 定义一个空的变量来存储被选中的个数
                    let complatedNum = 0;                   
                    // 遍历总数组
                    this.todoList.forEach(v=>{
                        if(v.isCompleted == true){
                            complatedNum ++;
                        }

                    });
                    if(complatedNum == this.todoList.length){
                        this.isCheckAll = true
                    }else{
                        this.isCheckAll = false
                    }
                    //如果被选中，那被选中的个数就++
                    //如果被选中的个数==数组的总长度（总个数）上面的全选按钮就被选中否则就取消

                }

            },
            // 计算属性
            computed: {
                unfinishedNum() {
                    let num = 0;
                    this.todoList.forEach((v, i, arr) => {
                        if (v.isCompleted == false) {
                            num++;

                        }
                    })
                    return num;
                },
                filterArr(){
                    //遍历总数组
                      //全部
                    if(this.filter == 'all'){
                        return this.todoList;
                       
                    }else if(this.filter=='active'){
                         // 未完成
                        let temArr = [];
                        this.todoList.forEach(v=>{
                            if(v.isCompleted == false){
                                temArr.push(v);
                            }
                        })
                        return temArr;
                    }else{
                        // 已完成
                        let temArr = [];
                        this.todoList.forEach(v=>{
                            if(v.isCompleted == true){
                                temArr.push(v);
                            }
                        })
                        return temArr;
                    }
                    //根据不同的属性返回不同的数据
                               
                }
            }

        })
    </script>


</body>

</html>